html 
{
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body 
{
  width: 800px;
  margin: auto;
  font-family: "Lato", "sans-serif";
  font-size: 16px;
  color: #303030;
  line-height: 1.4;
  background-color: #fff;
}

h1, h3
{
  font-family: "Lato", "sans-serif";
  //color: #909090;
  color: #303030;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

p
{
  color: #303030;
}



/* ----------------------------
   CORPUS SELECTOR NAVIGATION 
   ---------------------------- */

.navigation 
{
  font-family: "Lato", "sans-serif";
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.corpus 
{
  flex-direction: row;
}

.select 
{
  text-decoration: none;
  margin-top: 16px;
  color: #909090;
  border: 1px solid #fff;
  background-color: #fff;
}

.select:hover 
{
  color: #303030;
  border: 1px solid #909090;
}

.selected 
{
  color: #303030;
  border: 1px solid #909090;
}


.title
{
  margin-top: 16px;
}


/* ----------------------------
   TABS 
   ---------------------------- */

button:focus 
{
  outline: 0;
}

.tabs
{
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.tablink 
{
  flex: 1;
  background-color: #fff;
  float: left;
  padding: 10px 10px;
  font-size: 16px;
  font-family: "Lato", "sans-serif";
  border: none;
  border-bottom: 1px solid #303030;
  color: #909090;
}

.tablink:hover
{
  color: #303030;
}

.tablink.active
{
  border-bottom: 1px solid #fff;
  border-left: 1px solid #303030;
  border-right: 1px solid #303030;
  border-top: 1px solid #303030;
  color: #303030;
}

